@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
header{
    height: 40px;
    background: transparent;
    width: 100%;
    padding: 0px 35px;
    position: fixed;
    margin-top: 10px;
    
}
.wrapper{
    background: url("models.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
header .logo{
    width: 20%;
    float: left;
    padding-left: 5px;
    line-height: 40px;
}
header .logo img{
    height: 10px;
    width: 130px;
    cursor: pointer;
}
header .model{
    width: 50%;
    float: left;
    line-height: 40px;
    text-align: center;
    padding-left: 30px;
}
header .model ul{
    display: inline-flex;
}
header .model ul li{
    list-style: none;
    padding: 0px 15px;
}
header .model ul li:hover{
    background: rgb(201, 201, 201);
    border-radius: 10px;
    color: white;
    transition-duration: 1.3s;
}
.model ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
header .menu{
    width: 30%;
    float: left;
    line-height: 40px;
    text-align: right;
}
header .menu ul{
    display: inline-flex;
}
header .menu ul li{
    list-style: none;
    padding: 0px 15px;
}
.header .menu ul li:hover{
    background: rgb(192, 192, 192);
    border-radius: 10px;
    color: white;
    transition-duration: 1.3s;
}
header .menu ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.wrapper .model_name{
    text-align: center;
    clear: both;
    padding-top: 120px;
}
.wrapper .model_name h5{
    font-size: 40px;
    color: rgb(85, 84, 84);
    
}
.wrapper .model_name span{
   
}
.wrapper .model_name span p{
    color: gray;
    display: inline-flex;
}
.wrapper .model_name span a{
    color: gray;
    display: inline-flex;
}
.wrapper .model_name span a:hover{
    text-decoration: none;
    border-bottom: 1px solid black;
}
.wrapper .button{
   margin-top: 480px;
   text-align: center;
   text-transform: uppercase;
   cursor: pointer;
}
.wrapper .button .btn-1{
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 75px;
    display: inline-flex;
    font-size: 12px;
    border-radius: 30px;
    margin-right: 2px;
    font-weight: bold;
    color: #fff;
}
.wrapper .button .btn-2{
    background: rgb(209, 209, 209);
    color: rgb(100, 100, 100);
    padding: 15px 75px;
    display: inline-flex;
    font-size: 12px;
    border-radius: 30px;
    margin-left: 2px;
    font-weight: bold;
}

            /**Model-Y Start**/
.model_y{
    background: rgb(122, 121, 121);
    background: url("modely.jpeg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.model_y .model_name{
    text-align: center;
    clear: both;
    padding-top: 120px;
}
.model_y .model_name h5{
    font-size: 40px;
    color: rgb(85, 84, 84);
    
}
.model_y .model_name span p{
    color: rgb(85, 84, 84);
    display: inline-flex;
}
.model_y .model_name span a{
    color: rgb(85, 84, 84);
    display: inline-flex;
}
.model_y .model_name span a:hover{
    text-decoration: none;
    border-bottom: 1px solid black;
}
.model_y .button{
   margin-top: 480px;
   text-align: center;
   text-transform: uppercase;
   cursor: pointer;
}
.model_y .button .btn-1{
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 75px;
    display: inline-flex;
    font-size: 12px;
    border-radius: 30px;
    margin-right: 2px;
    font-weight: bold;
    font-weight: bold;
    color: #fff;
}
.model_y .button .btn-2{
    background: rgb(209, 209, 209);
    color: rgb(100, 100, 100);
    padding: 15px 75px;
    display: inline-flex;
    font-size: 12px;
    border-radius: 30px;
    margin-left: 2px;
    font-weight: bold;
}
            /**Model-Y end**/
            /**Model-S Start**/
.model_s{
    background: rgb(122, 121, 121);
    background: url("models.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.model_s .model_name{
    text-align: center;
    clear: both;
    padding-top: 120px;
}
.model_s .model_name h5{
    font-size: 40px;
    color: rgb(85, 84, 84);
    
}
.model_s .model_name span p{
    color: rgb(85, 84, 84);
    display: inline-flex;
}
.model_s .model_name span a{
    color: rgb(85, 84, 84);
    display: inline-flex;
}
.model_s .model_name span a:hover{
    text-decoration: none;
    border-bottom: 1px solid black;
}
.model_s .button{
   margin-top: 480px;
   text-align: center;
   text-transform: uppercase;
   cursor: pointer;
}
.model_s .button .btn-1{
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 75px;
    display: inline-flex;
    font-size: 12px;
    border-radius: 30px;
    margin-right: 2px;
    font-weight: bold;
    font-weight: bold;
    color: #fff;
}
.model_s .button .btn-2{
    background: rgb(209, 209, 209);
    color: rgb(100, 100, 100);
    padding: 15px 75px;
    display: inline-flex;
    font-size: 12px;
    border-radius: 30px;
    margin-left: 2px;
    font-weight: bold;
}
            /**Model-S End**/
            /**Model-x Start**/
.model_x{
    background: rgb(122, 121, 121);
    background: url("modelx.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.model_x .model_name{
    text-align: center;
    clear: both;
    padding-top: 120px;
}
.model_x .model_name h5{
    font-size: 40px;
    color: rgb(85, 84, 84);
    
}
.model_x .model_name span p{
    color: rgb(85, 84, 84);
    display: inline-flex;
}
.model_x .model_name span a{
    color: rgb(85, 84, 84);
    display: inline-flex;
}
.model_x .model_name span a:hover{
    text-decoration: none;
    border-bottom: 1px solid black;
}
.model_x .button{
   margin-top: 480px;
   text-align: center;
   text-transform: uppercase;
   cursor: pointer;
}
.model_x .button .btn-1{
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 75px;
    display: inline-flex;
    font-size: 12px;
    border-radius: 30px;
    margin-right: 2px;
    font-weight: bold;
    font-weight: bold;
    color: #fff;
}
.model_x .button .btn-2{
    background: rgb(209, 209, 209);
    color: rgb(100, 100, 100);
    padding: 15px 75px;
    display: inline-flex;
    font-size: 12px;
    border-radius: 30px;
    margin-left: 2px;
    font-weight: bold;
}
            /**Model-x End**/
            /**Solar-Panel Start**/
.solar_panels{
    background: rgb(122, 121, 121);
    background: url("solarpanels.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.solar_panels .model_name{
    text-align: center;
    clear: both;
    padding-top: 120px;
}
.solar_panels .model_name h5{
    font-size: 40px;
    color: rgb(85, 84, 84);
    
}
.solar_panels .model_name span p{
    color: rgb(85, 84, 84);
    display: inline-flex;
}
.solar_panels .model_name span a{
    color: rgb(85, 84, 84);
    display: inline-flex;
}
.solar_panels .model_name span a:hover{
    text-decoration: none;
    border-bottom: 1px solid black;
}
.solar_panels .button{
   margin-top: 480px;
   text-align: center;
   text-transform: uppercase;
   cursor: pointer;
}
.solar_panels .button .btn-1{
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 75px;
    display: inline-flex;
    font-size: 12px;
    border-radius: 30px;
    margin-right: 2px;
    font-weight: bold;
    font-weight: bold;
    color: #fff;
}
.solar_panels .button .btn-2{
    background: rgb(209, 209, 209);
    color: rgb(100, 100, 100);
    padding: 15px 75px;
    display: inline-flex;
    font-size: 12px;
    border-radius: 30px;
    margin-left: 2px;
    font-weight: bold;
}
            /**Solar-Panel End**/
            /**Solar-Roof Start**/
.solar_roof{
    background: rgb(122, 121, 121);
    background: url("solarroof.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.solar_roof .model_name{
    text-align: center;
    clear: both;
    padding-top: 120px;
}
.solar_roof .model_name h5{
    font-size: 40px;
    color: rgb(85, 84, 84);
    
}
.solar_roof .model_name span p{
    color: rgb(85, 84, 84);
    display: inline-flex;
}
.solar_roof .model_name span a{
    color: rgb(85, 84, 84);
    display: inline-flex;
}
.solar_roof .model_name span a:hover{
    text-decoration: none;
    border-bottom: 1px solid black;
}
.solar_roof .button{
   margin-top: 480px;
   text-align: center;
   text-transform: uppercase;
   cursor: pointer;
}
.solar_roof .button .btn-1{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 15px 75px;
    display: inline-flex;
    font-size: 12px;
    border-radius: 30px;
    margin-right: 2px;
    font-weight: bold;
    font-weight: bold;
}
.solar_roof .button .btn-2{
    background: rgb(209, 209, 209);
    color: rgb(100, 100, 100);
    padding: 15px 75px;
    display: inline-flex;
    font-size: 12px;
    border-radius: 30px;
    margin-left: 2px;
    font-weight: bold;
}
            /**Solar-Roof End**/
            /**Accessories Start**/
.accessories{
    background: rgb(122, 121, 121);
    background: url("accessorice.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center,center;
}
.accessories .model_name{
    text-align: center;
    clear: both;
    padding-top: 120px;
}
.accessories .model_name h5{
    font-size: 40px;
    color: rgb(85, 84, 84);
    
}
.accessories .model_name span p{
    color: rgb(85, 84, 84);
    display: inline-flex;
}
.accessories .model_name span a{
    color: rgb(85, 84, 84);
    display: inline-flex;
}
.accessories .model_name span a:hover{
    text-decoration: none;
    border-bottom: 1px solid black;
}
.accessories .button{
   margin-top: 480px;
   text-align: center;
   text-transform: uppercase;
   cursor: pointer;
}
.accessories .button .btn-1{
    background: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    padding: 15px 75px;
    display: inline-flex;
    font-size: 12px;
    border-radius: 30px;
    margin-right: 2px;
    font-weight: bold;
    font-weight: bold;
}
.accessories .footer{
    padding-top: 30px;
    text-align: center;
}
.accessories .footer p{
    padding: 0px 5px;
    font-size: 12px;
    text-align: center;
    display: inline-block;
}